<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ERP Automation Suite">

	<listeners>
  	 <listener class-name="com.ERP.Listeners.TestListener"/>
	</listeners>

    <test name="ERP Test Cases">

        <classes>

            <class name="com.ERP.Tests.LoginTest"/>

            <class name="com.ERP.Tests.SupplierTest"/>

            <class name="com.ERP.Tests.CustomerTest"/>

        </classes>

    </test>

</suite>